<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li{ display: inline-flex;
        padding: 15px
        }
        section{
        background-color: #275b2f;
        width: 79%;
        height: 150px;
        }
        article{
        width: 70%;
        background-color: #2d803a;
        height: 100%;
        }
        
        aside{
        background-color: #2d803a;
        width: 30%;
        float: right;
        }
        section{
            padding: 10px;
            margin: 10px;
            width: 94%;
            height: auto;
        }
        h2  {
        text-align: center;
        color: #fff;
        }
        ul{
        text-align: center;
        }
    p{
        color: white;
    }
    .card {
        
       margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  width: 90%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
  background-color: #275b2f
}
        </style>
</head>
<body style="background-color: #17481e;">
    
    <header style = "height: 100px; width: 100%; background-color: #4a8753;" >
        
        <h1 style=" color: #fff; text-align: center; padding-top: 25px; font-size: 30px;" >
            <img src="logo.png" alt="Avatar" style="width:5%; margin-top: -10px;">World Website</h1>
   </header>
   <nav style = "background-color: #315e38; margin-top: -16px;" >
       <ul>
           <li> <a href = "#"> Navigation Link1 </a> </li>
           <li> <a href = "#"> Navigation Link2 </a> </li>
           <li> <a href = "#"> Navigation Link3 </a> </li>
       </ul>
   </nav>
   <div class = "main">
       <aside >
           
           <h2> More Info </h2>
           <div class="card">
            <img src="eartquake.jpg" alt="Avatar" style="width:100%">
            <div class="container">
              <h3 style="color: white;"><b>EarthQuake</b></h3> 
              <p style="text-align: justify;">
                An earthquake (also known as a quake, tremor or temblor) is the shaking of the surface of the Earth resulting from a sudden release of energy in the Earth's lithosphere that creates seismic waves. Earthquakes can range in intensity, from those that are so weak that they cannot be felt, to those violent enough to propel objects and people into the air and wreak destruction across entire cities. The seismic activity of an area is the frequency, type, and size of earthquakes experienced over a particular time period. The seismicity at a particular location in the Earth is the average rate of seismic energy release per unit volume. The word tremor is also used for non-earthquake seismic rumbling.
              </p> 
              <h5>More? Visit <a href="https://en.wikipedia.org/wiki/Earthquake">eartquake</a></h5>
            </div>
          </div>
          <div class="card">
            <img src="flood.jpg" alt="Avatar" style="width:100%">
            <div class="container">
                <h4 style="color: white;"><b>Flood</b></h4> 
              <p>
                A flood is an overflow of water (or rarely other fluids) that submerges land that is usually dry.[1] In the sense of "flowing water", the word may also be applied to the inflow of the tide. Floods are an area of study of the discipline hydrology and are of significant concern in agriculture, civil engineering and public health. Human changes to the environment often increase the intensity and frequency of flooding, for example land use changes such as deforestation and removal of wetlands, changes in waterway course or flood controls such as with levees, and larger environmental issues such as climate change and sea level rise. In particular climate change's increased rainfall and extreme weather events increases the severity of other causes for flooding, resulting in more intense floods and increased flood risk.[2][3]

              </p> 
              <h5>More? Visit <a href="https://en.wikipedia.org/wiki/Flood">Flood</a></h5>
            </div>
          </div>
   </aside>
   


   <article style="padding: 1px;">
       <section>
        <p style="color: white; text-align: justify;"  >
            <img src="bumi.jpg" alt="" style="float:left; margin: 20px; width: 30%;">
            "Bumi" beralih ke halaman ini. Untuk kegunaan lain, lihat Bumi (disambiguasi).
                Bumi 🜨
                The Blue Marble (remastered).jpg
                Foto Bumi, diambil oleh NASA
                Penamaan
                Nama alternatif	Tellus/Telluris atau Terra,[catatan 1] Gaia
                Ciri-ciri orbit
                Epos J2000,0[catatan 2]
                Aphelion	152.098.232 km
                1,01671388 sa[catatan 3]
                Perihelion	147.098.290 km
                0,98329134 sa[catatan 3]
                Sumbu semimayor	149.598.261 km
                1,00000261 sa[1]
                Eksentrisitas	0,01671123[1]
                Periode orbit	365,256363004 hari[2]
                1,000017421 tahun
                Kecepatan orbit rata-rata	29,78 km/s[3]
                107.200 km/jam
                Anomali rata-rata	357,51716°[3]
                Inklinasi	7,155° ke ekuator Matahari
                1,57869°[4] ke bidang invariabel
                Bujur node menaik	348,73936°[3][catatan 4]
                Argumen perihelion	114,20783°[3][catatan 5]
                satelit yang diketahui	1 alami (Bulan),
                1.070 buatan (hingga 24 Oktober 2013)[5]
                Ciri-ciri fisik
                Jari-jari rata-rata	6.371,0 km[6]
                Jari-jari khatulistiwa	6.378,1 km[7][8]
                Jari-jari kutub	6.356,8 km[9]
                Kepepatan	0,0033528[10]
                Keliling	40.075,017 km (khatulistiwa)[8]
                40.007,86 km (meridian)[11][12]
                Luas permukaan	510.072.000 km2[13][14][catatan 6]
                148.940.000 km2 daratan (29,2 %)
                361.132.000 km2 perairan (70,8 %)
                Volume	1,08321×1012 km3[3]
                Massa	5,97219×1024 kg[15]
                3,0×10−6 Matahari
                Massa jenis rata-rata	5,515 g/cm3[3]
                Gravitasi permukaan	9,780327 m/s2[16]
                0,99732 g
                Kecepatan lepas	11,186 km/s[3]
                Periode rotasi sideris	0,99726968 d[17]
                23j 56m 4,100d
                Kecepatan rotasi khatulistiwa	1674,4 km/jam[18]
                Kemiringan sumbu	23°26'21",4119[2]
                Albedo	0,367 (Geometri)[3]
                0,306 (Bond)[3]
                Suhu permukaan	min.	rata-rata	maks.
                Kelvin	184 K[19]	288 K[20]	330 K[21]
                Celsius	−89,2 °C	15 °C	56,7 °C
                Atmosfer
                Tekanan permukaan	101,325 kPa (MSL)
                Komposisi per volume	78,08% nitrogen (N2)[3] (udara kering)
                20,95% oksigen (O2)
                0,93% argon
                0,039% karbon dioksida[22]
                Sekitar 1% uap air (bervariasi sesuai iklim)
                Bumi adalah planet ketiga dari Matahari yang merupakan planet terpadat dan terbesar kelima dari delapan planet dalam Tata Surya. Bumi juga merupakan planet terbesar dari empat planet kebumian di Tata Surya. Bumi terkadang disebut dengan dunia atau Planet Biru.
                            
        </p>
       </section>
       <section>
        <p style="color: white; text-align: justify;"  >
            <img src="bentukbumi.jpg" alt="" style="float:left; margin: 20px; width: 30%;">
            Wikipedia (audio speaker iconpronunciation (help·info)) is a free online encyclopedia 
                   website in 327 languages of the world, 
                   316 languages which are currently active and 11 are closed.
                   People can freely use it, share it, and change it, without having to pay. It is also one of 
                   the biggest wiki organizations. People can choose to donate to the Wikimedia Foundation to fund Wikipedia
                   and its sister projects. It is an open content website.
                   This means anyone can copy it, and make changes to it if they follow the rules for copying or editing.
                   Wikipedia is owned by an American organization, the Wikimedia Foundation, which is in San Francisco, California.
                   Wikipedia's name is a portmanteau of two words, wiki and encyclopedia.[3]
                   Wikipedia was started on January 10, 2001, by Jimmy Wales and Larry Sanger as part of an earlier online encyclopedia named Nupedia. 
                   On January 15, 2001, Wikipedia became a separate website of its own. 
                   It is a wiki that uses the software MediaWiki (like all other Wikimedia Foundation projects).
                   Anyone who wishes to can change the pages on Wikipedia, or even make new ones. Wikipedia has a standard page layout for all pages in the encyclopedia.
                   As of September 2011, Wikipedia had about 18 million pages in about 300 languages and more than 3.50 billion words across all Wikipedias. The regular English Wikipedia is the largest Wikipedia edition.
           </p>
           <p style="color: white; text-align: justify;"  >
            <img src="bumipng.png" alt="" style="float:right; margin: 20px; width: 30%;">

                                Wikipedia began as a related project for Nupedia. Nupedia was a free English-language online encyclopedia project. Nupedia's articles were written and owned by Bomis, Inc which was a web portal company. The important people of the company were Jimmy Wales, the person in charge of Bomis, and Larry Sanger, the editor-in-chief of Nupedia. Nupedia was first licensed under the Nupedia Open Content License which was changed to the GNU Free Documentation License before Wikipedia was founded and made their first article when Richard Stallman requested them.[4]
                    Larry Sanger and Jimmy Wales are the ones who started Wikipedia.[5][6] Wales is credited with defining the goals of the project.[7][8] Sanger created the strategy of using a wiki to reach Wales' goal.[9] On January 10, 2001, Larry Sanger proposed on the Nupedia mailing list to create a wiki as a "feeder" project for Nupedia.[10] Wikipedia was launched on January 15, 2001. It was launched as an English-language edition at www.wikipedia.com,[11] and announced by Sanger on the Nupedia mailing list.[7] Wikipedia's policy of "neutral point-of-view"[12] was enforced in its initial months, and was similar to Nupedia's earlier "nonbiased" policy. Otherwise, there weren't very many rules initially, and Wikipedia operated independently of Nupedia.[7]
                    Wikipedia gained early contributors from Nupedia, Slashdot, and from people who looked it up. It grew to about 20,000 articles, and 18 languages by the end of 2001. By late 2002 it had 26 languages, 46 by the end of 2003, and 161 by the end of 2004.[13] Nupedia and Wikipedia both existed until Nupedia's servers were stopped in 2003. After this, its text was incorporated into Wikipedia. The English Wikipedia passed the 2 million-article mark on September 9, 2007, making it the largest encyclopedia ever assembled, even larger than the Yongle Encyclopedia (1407), which had held the record for exactly 600 years.[14]
                    The English Wikipedia reached 3 million articles in August 2009. The number of articles and contributors appeared to be growing less quickly around spring 2007.[15]
                    In October 2014, the Wikipedia Monument was unveiled to the public in Poland to honor all the contributors of Wikipedia.
                    According to the TechCrunch website, on 23 January 2020, Wikipedia had surpassed more than 6 million articles on the
                            </p>
                            <p>
                                Dalam bahasa Inggris modern, kata benda earth dikembangkan dari kata bahasa Inggris Pertengahan erthe (dicatat pada 1137), yang berasal dari kata bahasa Inggris Kuno eorthe (sebelum 725), sedangkan kata itu sendiri berasal dari kata Proto-Jermanik *erthō. Earth memiliki kata kerabat pada semua bahasa Jermanik lainnya, termasuk aarde dalam bahasa Belanda, Erde dalam bahasa Jerman, dan jord dalam bahasa Swedia, Denmark, dan Norwegia.[29] Earth adalah perumpamaan untuk dewi paganisme Jermanik (atau Jörð dalam mitologi Norse, ibu dari dewa Thor).[30]

Dalam bahasa Indonesia, kata bumi berasal dari bahasa Sanskerta bhumi, yang berarti tanah, dan selalu ditulis dengan huruf kapital ("Bumi"), untuk merujuk pada planet Bumi, sementara "bumi" dengan huruf kecil merujuk pada permukaan dunia, atau tanah.[31]
                            </p>

                            <p>
                                Bumi tergolong planet kebumian yang umumnya terdiri dari bebatuan, bukannya raksasa gas seperti Jupiter. Bumi adalah planet terbesar dari empat planet kebumian lainnya menurut ukuran dan massa. Dari keempat planet tersebut, Bumi merupakan planet dengan kepadatan tertinggi, gravitasi permukaan tertinggi, medan magnet terkuat, dan rotasi tercepat,[32] dan diperkirakan juga merupakan satu-satunya planet dengan tektonik lempeng yang aktif.[33]
                            </p>
                            <br>
                            <h4>Soruce <a href="https://id.wikipedia.org/wiki/Bumi">Wikipedia</a></h4>
       </section>
       
   </article>


   </div>
   <footer style = "height: 100px; background-color:#4a8753; width: 100%; text-align: center;">
       <h3 style = " color: #fff; text-align: center; padding-top: 10px; font-size: 30px; " ></h3>
       <p> © Copyright 2022 </p>
</footer>
<!-- <details>
<summary> Summary: click here to show details </summary>
<p> Details: Upon clicking summary element, details will be shown to the user </p>
</details> -->

</body>
</html>
